.login__page__container {
  background-color: #9cdaf8;
  background-image: linear-gradient(315deg, #9cdaf8 0%, #98fcbd 74%);
  padding: 40px 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.login__body {
  background-color: rgba(0, 0, 0, 0.4);
  margin: 0px 50px;
  padding: 40px;
}

.login__body h1 {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 40px;
  margin-bottom: 40px;
  color: white;
}

.login__form {
  display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    justify-self: center;
    background-color: black;
    padding: 30px 20px;
    border-radius: 25px;
    margin-top: 40px;
}

.login__form h3 {
  font-size: 20px;
  color: white;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 0px;
}

.login__form a {
  color: #a9fba9;
  font-size: 22px;
}

.login__input {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  border-radius: 10px;
  line-height: 22px;
  background-color: transparent;
  border-bottom: 3px solid #98ff98;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 35px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.login__input:focus {
  border: 4px solid #98ff98;
}

.login__btn {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background: #98ff98;
  border-radius: 15px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}

.login__btn:hover {
  background: #1b8211;
}

@media screen and (min-width:768px) {
  .login__form {
    width: 500px;
    height: 350px;
  }
}
@media screen and (max-width: 768px) {
  .login__body {
    margin: 0px 20px;
  }
}

@media screen and (max-width: 520px) {
  .login__body {
    padding: 20px;
  }
  .login__body > h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .login__btn, .login__form h3 {
    font-size: 16px;
  }
}
