.tts__page__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.tts__page__container > h1 {
    font-size: 28px;
}

.tts__page__container > textarea {
    width: 90%;
    height: 200px;
    resize: none;
    padding: 10px;
    border-radius: 15px;
    border-bottom:6px solid #000000;
    outline: none;
}

.tts__page__container > textarea:focus {
    background-color: aliceblue;
    border: 2px solid #000000;
}

.tts__page__container > audio {
    margin-top: 25px;
}

@media screen and (max-width: 520px) {
    .tts__page__container > audio {
        width: 250px;
    }
}