.match-main{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.left,.right{
    width:45%;
}
.item-left{
    border:1px solid brown;
    padding:2rem;
    width:80%;
    margin:2rem auto;
    font-size: 1.8rem;
}
ul{
    list-style-type:none;
}