.lower,.upper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin:1rem 2rem;
}
.left-text,.right-text{
    height:20rem;
    width:20rem;
    border:1px solid black;
}