.footer__container {
    background-color: black;
    color: white;
    padding: 40px;
}

.footer__body {
    display: flex;
    flex-flow: row;
    align-items: center;
}

.footer__body p {
    width: 100%;
}

.footer__links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 50%; /* Adjust the space between links as needed */
    font-size: 30px;
    text-decoration: none;
    color: #000000; 
}

.link {
    text-decoration: none;
    color: white;
}

.footer__copyright {
    text-align: center;
}

@media screen and (max-width: 520px) {
    .footer__body {
        flex-direction: column;
    }
    .footer__links {
        flex-direction: row;
        width: 100%;
    }
    .footer__container h1 {
        font-size: 18px;
    }
    .footer__container h3 {
        font-size: 16px;
    }
    .footer__container p {
        font-size: 14px;
    }
}