@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

@font-face {
  font-family: 'handwriting1'; /* Choose a name for your font */
  src: url('../blzee.ttf') format('truetype');
  /* Add other font formats if needed, like woff, woff2, etc. */
}
body {
  margin: 0;
  padding: 0;
  margin: 0;
  font-family:'Kanit', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
